extends layout

block content
  if user
    div#posts-btns
      a(href='/create-post')
        button.create-post-btn Create Post
      if user.status=='Member'
        a(href='/join')
          button.join-btn Join Group
      else if user.status=='Avenger'
        a(href='/leave')
          button.leave-btn Leave Group
    div#admin-link
      if !user.admin || user.admin==false
        a(href='/set-admin') Become an Admin
      else if user.admin && user.admin==true
        a(href='/unset-admin') Revoke Admin

  div#posts
    each post in posts
      div.post
        // Note: Unescape characters with !{}
        h1 !{post.title}
        if user && user.status=='Avenger'
          p.info Posted by 
            a.author(href="#") #{post.author.username}
        p.message !{post.message}
        if user && user.status=='Avenger'
          p.footer
            if user && user.admin && user.admin==true
              a(href='/post/' + post._id + '/delete') Delete
            span.date #{post.dateFormatted}