extends layout

block content
  h1= title
  p Welcome to #{title}

  if user
    p Logged in
    p Username: #{user.username}
    p Status: #{user.status}
    if user.status=='Member'
      a(href='/join')
        button Join
    else if user.status=='Avenger'
      a(href='/leave')
        button Leave
      a(href='/create-post')
        button Create Post

  div#posts
    each post in posts
      div.post
        div #{post.title}
          if user && user.status=='Avenger'
            |  by #{post.author.username}
        div #{post.message}
        if user && user.status=='Avenger'
          div #{post.dateFormatted}