extends layout

block content
  h1= title
  if !user.admin || user.admin==false
    p.user-msg= message
  else
    p.user-msg Do you really want to delete this post?
    div.post
      // Note: Unescape characters with !{}
      h1 !{post.title}
      if user && user.status=='Avenger'
        p.info Posted by 
          a.author(href="#") #{post.author.username}
      p.message !{post.message}
      if user && user.status=='Avenger'
        p.footer
          span.date #{post.dateFormatted}

    form.form(action='' method='POST')
      if errors
        ul.form-errors
          for error in errors
            li!= error.msg
      div.form-group.form-btn-container
        button.form-btn(type='submit') Delete